<%= form_for(short) do |f| %>
  <% if short.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(short.errors.count, "error") %> prohibited this shorten from being saved:</h2>

      <ul>
      <% short.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
